In [9]:
import numpy as np
import pandas as pd
file_path = r"E:\Z-HACK\2013\z_hack_transaction_2013_0.csv"

In [20]:
reader = pd.read_csv(filepath_or_buffer=file_path, iterator=True, chunksize=2)

In [31]:
chunk = reader.get_chunk()
chunk.pop('FIRMID')
# print(chunk)

38    111156
39    111156
Name: FIRMID, dtype: int64

In [32]:
chunk.columns

Index(['FDATE', 'FTIME', 'CONTNUM', 'FLATNUM', 'SETNUM', 'SPARENUM',
       'CONTPRICE', 'DIFPRICE', 'BAILMONEY', 'TRADECOMM', 'BUYORSAL', 'OLDNEW',
       'OPPFIRMID', 'OPENFLAT', 'ORDERSTY', 'OFLATLOSE', 'FLATLOSE',
       'BDIFPRICE', 'FORCEFLAG', 'TFLATNUM', 'TFLATCOMM'],
      dtype='object')

In [33]:
chunk.pop('FTIME')

38    110404
39    110451
Name: FTIME, dtype: int64

In [34]:
chunk.columns

Index(['FDATE', 'CONTNUM', 'FLATNUM', 'SETNUM', 'SPARENUM', 'CONTPRICE',
       'DIFPRICE', 'BAILMONEY', 'TRADECOMM', 'BUYORSAL', 'OLDNEW', 'OPPFIRMID',
       'OPENFLAT', 'ORDERSTY', 'OFLATLOSE', 'FLATLOSE', 'BDIFPRICE',
       'FORCEFLAG', 'TFLATNUM', 'TFLATCOMM'],
      dtype='object')

In [38]:
chunk.columns

Index(['FDATE', 'CONTNUM', 'SETNUM', 'SPARENUM', 'CONTPRICE', 'DIFPRICE',
       'TRADECOMM', 'BUYORSAL', 'OLDNEW', 'OPPFIRMID', 'OPENFLAT', 'ORDERSTY',
       'OFLATLOSE', 'FLATLOSE', 'BDIFPRICE', 'FORCEFLAG', 'TFLATNUM',
       'TFLATCOMM'],
      dtype='object')

In [41]:
print(type(chunk.pop('FLATLOSE')))

<class 'pandas.core.series.Series'>

In [42]:
print(chunk)

         FDATE  CONTNUM  SETNUM  SPARENUM  CONTPRICE  DIFPRICE  TRADECOMM  \
38  2013-01-04       10       0         0       5613         0         40
39  2013-01-04       30       0         0       5613         0        120

   BUYORSAL OLDNEW  OPPFIRMID OPENFLAT ORDERSTY  BDIFPRICE  TFLATNUM  \
38        S      A  117104247        B        A          0         0
39        S      A     132327        B        A          0         0

    TFLATCOMM
38          0
39          0

In [43]:
print(chunk.head)

<bound method NDFrame.head of          FDATE  CONTNUM  SETNUM  SPARENUM  CONTPRICE  DIFPRICE  TRADECOMM  \
38  2013-01-04       10       0         0       5613         0         40
39  2013-01-04       30       0         0       5613         0        120

   BUYORSAL OLDNEW  OPPFIRMID OPENFLAT ORDERSTY  BDIFPRICE  TFLATNUM  \
38        S      A  117104247        B        A          0         0
39        S      A     132327        B        A          0         0

    TFLATCOMM
38          0
39          0  >

In [44]:
chunk.columns

Index(['FDATE', 'CONTNUM', 'SETNUM', 'SPARENUM', 'CONTPRICE', 'DIFPRICE',
       'TRADECOMM', 'BUYORSAL', 'OLDNEW', 'OPPFIRMID', 'OPENFLAT', 'ORDERSTY',
       'BDIFPRICE', 'TFLATNUM', 'TFLATCOMM'],
      dtype='object')

In [45]:
chunk.drop(columns=['TFLATCOMM', 'TFLATNUM', 'BDIFPRICE', 
                    'ORDERSTY', 'DIFPRICE', 'TRADECOMM'], axis=1)

,FDATE,CONTNUM,SETNUM,SPARENUM,CONTPRICE,BUYORSAL,OLDNEW,OPPFIRMID,OPENFLAT
38,2013-01-04,10,0,0,5613,S,A,117104247,B
39,2013-01-04,30,0,0,5613,S,A,132327,B

In [48]:
chunk = chunk.drop(columns=['OPPFIRMID', 'OPENFLAT', 'OLDNEW', 'BUYORSAL', 'SPARENUM', 'SETNUM'], axis=1)

KeyError: "labels ['OPPFIRMID' 'OPENFLAT' 'OLDNEW' 'BUYORSAL' 'SPARENUM' 'SETNUM'] not contained in axis"

In [49]:
print(chunk)

         FDATE  CONTNUM  CONTPRICE  DIFPRICE  TRADECOMM ORDERSTY  BDIFPRICE  \
38  2013-01-04       10       5613         0         40        A          0
39  2013-01-04       30       5613         0        120        A          0

    TFLATNUM  TFLATCOMM
38         0          0
39         0          0

In [50]:
chunk = chunk.drop(columns=['DIFPRICE', 'TRADECOMM', 'ORDERSTY', 'BDIFPRICE', 'TFLATNUM', 'TFLATCOMM'], axis=1)

In [51]:
print(chunk)

         FDATE  CONTNUM  CONTPRICE
38  2013-01-04       10       5613
39  2013-01-04       30       5613

In [52]:
chunk

         FDATE  CONTNUM  CONTPRICE
38  2013-01-04       10       5613
39  2013-01-04       30       5613

In [53]:
chunk = chunk.drop(columns='CONTNUM')

In [54]:
chunk

         FDATE  CONTPRICE
38  2013-01-04       5613
39  2013-01-04       5613