In [2]:
import tensorflow as tf
from tensorflow.keras.layers import Dense, Dropout, SimpleRNN
from tensorflow.keras.models import Sequential
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.layers import Layer

In [3]:
filename = r"../data/all_part"
LAYERS = [30, 30, 30, 30, 10]

In [4]:
def get_train_data(data):
    x_train = []
    y_train = []
    for i in range(int(data.shape[0]) - TIMESTEP):
        x_train.append(data[i:i+TIMESTEP])
        y_train.append(data[i+TIMESTEP])
    
    x_train = np.asarray(x_train, dtype=np.float32)
    y_train = np.asarray(y_train, dtype=np.float32)
    
    return x_train.reshape(x_train.shape[0], x_train.shape[1], 1), y_train

In [5]:
import pandas as pd

In [6]:
dataframe = pd.read_csv(filepath_or_buffer=filename, sep="\t")
dataframe.iloc[:10, :]

           日期        总成交金额   总成交数量       日均成交金额
0  2009-01-04  161674229.0  460360  2824.303102
1  2009-01-05  141471095.0  419527  2823.491818
2  2009-01-06   84491048.0  206177  2798.935017
3  2009-01-07  113116729.0  332283  2811.224173
4  2009-01-08   86225458.0  220036  2782.819729
5  2009-01-09   96528746.0  212408  2791.764161
6  2009-01-12  188201601.0  634212  2849.966686
7  2009-01-13  121582221.0  339050  2848.203796
8  2009-01-14  166679271.0  555477  2904.523836
9  2009-01-15   82333494.0  226080  2945.673332